process {
  // high memory high time
  withLabel: lowcpu { cpus = 4 }
  withLabel: midcpu { cpus = 8 }
  withLabel: highcpu { cpus = 16 }
  withLabel: vhighcpu { cpus = 30 }
  withLabel: lowmem { memory = "40 GB" }
  withLabel: midmem { memory = "80 GB" }
  withLabel: highmem { memory = "110 GB" }
  withLabel: vhighmem { memory = "110 GB" }
  withLabel: lowtime { time = "30m" }
  withLabel: midtime { time = "40m" }
  withLabel: hightime { time = "80m" }
}