process {
  // very high memory high time
  withLabel: lowcpu { cpus = 28 }
  withLabel: midcpu { cpus = 28 }
  withLabel: highcpu { cpus = 28 }
  withLabel: vhighcpu { cpus = 28 }
  withLabel: lowmem { memory = "105 GB" }
  withLabel: midmem { memory = "105 GB" }
  withLabel: highmem { memory = "105 GB" }
  withLabel: vhighmem { memory = "105 GB" }
  withLabel: lowtime { time = "2h" }
  withLabel: midtime { time = "2h" }
  withLabel: hightime { time = "2h" }
  withLabel: vhightime { time = "2h" }

  withLabel: gpu {
    maxForks = 1
    containerOptions = '--gpus all'
  }
}