process {

  withLabel: lowcpu { cpus = 2 }
  withLabel: midcpu { cpus = 4 }
  withLabel: highcpu { cpus = 15 }
  withLabel: vhighcpu { cpus = 30 }
  withLabel: lowmem { memory = 10.GB }
  withLabel: midmem { memory = 20.GB }
  withLabel: highmem { memory = 55.GB }
  withLabel: vhighmem { memory = 110.GB }
  withLabel: lowtime { time = "10m" }
  withLabel: midtime { time = "20m" }
  withLabel: hightime { time = "60m" }

/*
// high time run
  withLabel: lowcpu { cpus = 4 }
  withLabel: midcpu { cpus = 8 }
  withLabel: highcpu { cpus = 15 }
  withLabel: vhighcpu { cpus = 30 }
  withLabel: lowmem { memory = 20.GB }
  withLabel: midmem { memory = 40.GB }
  withLabel: highmem { memory = 110.GB }
  withLabel: vhighmem { memory = 110.GB }
  withLabel: lowtime { time = "60m" }
  withLabel: midtime { time = "60m" }
  withLabel: hightime { time = "60m" }
*/

/*
// high memory high time
  withLabel: lowcpu { cpus = 4 }
  withLabel: midcpu { cpus = 8 }
  withLabel: highcpu { cpus = 16 }
  withLabel: vhighcpu { cpus = 30 }
  withLabel: lowmem { memory = "40 GB" }
  withLabel: midmem { memory = "80 GB" }
  withLabel: highmem { memory = "110 GB" }
  withLabel: vhighmem { memory = "110 GB" }
  withLabel: lowtime { time = "30m" }
  withLabel: midtime { time = "40m" }
  withLabel: hightime { time = "80m" }
*/
/*
// very high memory high time
  withLabel: lowcpu { cpus = 30 }
  withLabel: midcpu { cpus = 30 }
  withLabel: highcpu { cpus = 30 }
  withLabel: vhighcpu { cpus = 30 }
  withLabel: lowmem { memory = "90 GB" }
  withLabel: midmem { memory = "90 GB" }
  withLabel: highmem { memory = "90 GB" }
  withLabel: vhighmem { memory = "90 GB" }
  withLabel: lowtime { time = "80m" }
  withLabel: midtime { time = "80m" }
  withLabel: hightime { time = "80m" }
*/
/*
// retry run
  withLabel: lowcpu { cpus = 2 }
  withLabel: midcpu { cpus = 4 }
  withLabel: highcpu { cpus = 15 }
  withLabel: vhighcpu { cpus = 30 }
  withLabel: lowmem { memory = { 10.GB * task.attempt } }
  withLabel: midmem { memory = { 20.GB * task.attempt } }
  withLabel: highmem { memory = { 55.GB * task.attempt } }
  withLabel: vhighmem { memory = 110.GB }
  withLabel: lowtime { time = "10m" }
  withLabel: midtime { time = "20m" }
  withLabel: hightime { time = "40m" }
*/
}