process {
  // very high memory high time
  withLabel: lowcpu { cpus = 30 }
  withLabel: midcpu { cpus = 30 }
  withLabel: highcpu { cpus = 30 }
  withLabel: vhighcpu { cpus = 30 }
  withLabel: lowmem { memory = "90 GB" }
  withLabel: midmem { memory = "90 GB" }
  withLabel: highmem { memory = "90 GB" }
  withLabel: vhighmem { memory = "90 GB" }
  withLabel: lowtime { time = "80m" }
  withLabel: midtime { time = "80m" }
  withLabel: hightime { time = "80m" }
}