process {
  // high memory high time
  withLabel: lowcpu { maxForks = 1 }
  withLabel: midcpu { maxForks = 1 }
  withLabel: highcpu { maxForks = 1 }
  withLabel: vhighcpu { maxForks = 1 }
  withLabel: lowmem { maxForks = 1 }
  withLabel: midmem { maxForks = 1 }
  withLabel: highmem { maxForks = 1 }
  withLabel: vhighmem { maxForks = 1 }
  withLabel: lowtime { maxForks = 1 }
  withLabel: midtime { maxForks = 1 }
  withLabel: hightime { maxForks = 1 }
}