# repo ignores
output_bash

# IDE ignores
.Rhistory
.Rproj.user
*.Rproj
.idea
*.iml

# viash ignores
target/
check_results/
log.tsv
log.txt

# nextflow ignores
.nextflow*
work
output

# vim ignores
[._]*.sw[a-p]
[._]sw[a-p]
tags
