manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
params {
  rootDir = "$projectDir/../../../.."
}

srcDir = "${params.rootDir}/src"
targetDir = "${params.rootDir}/target/nextflow"

// INSERT CUSTOM IMPORTS HERE
includeConfig "$targetDir/match_modality_metrics/match_probability/nextflow.config"
includeConfig "$targetDir/match_modality_metrics/check_format/nextflow.config"
includeConfig "$targetDir/match_modality_results/final_scores/nextflow.config"
includeConfig "$targetDir/common/bind_tsv_rows/nextflow.config"
includeConfig "$srcDir/common/workflows/resource_labels.config"
// END INSERT

def viash_temp = System.getenv("VIASH_TEMP") ?: "/tmp/"
docker {
  runOptions = "-v \$(realpath --no-symlinks ${params.rootDir}):\$(realpath --no-symlinks ${params.rootDir}) -v $viash_temp:$viash_temp --shm-size=1024m"
}

process {
  errorStrategy = 'ignore'
  container = 'nextflow/bash:latest'
}
