manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
params {
  rootDir = "$projectDir/../../../.."
}

def viash_temp = System.getenv("VIASH_TEMP") ?: "/tmp/"
def rootDir = java.nio.file.Paths.get(params.rootDir).toAbsolutePath().normalize().toString()
srcDir = "$rootDir/src"
targetDir = "$rootDir/target/nextflow"

// INSERT CUSTOM IMPORTS HERE
includeConfig "$targetDir/joint_embedding_metrics/asw_batch/nextflow.config"
includeConfig "$targetDir/joint_embedding_metrics/asw_label/nextflow.config"
includeConfig "$targetDir/joint_embedding_metrics/nmi/nextflow.config"
includeConfig "$targetDir/joint_embedding_metrics/cc_cons/nextflow.config"
includeConfig "$targetDir/joint_embedding_metrics/ti_cons/nextflow.config"
includeConfig "$targetDir/joint_embedding_metrics/graph_connectivity/nextflow.config"
includeConfig "$targetDir/joint_embedding_metrics/check_format/nextflow.config"
includeConfig "$targetDir/joint_embedding_results/final_scores/nextflow.config"
includeConfig "$targetDir/common/bind_tsv_rows/nextflow.config"
includeConfig "$srcDir/common/workflows/resource_labels.config"
// END INSERT

docker {
  runOptions = "-v $rootDir:$rootDir -v $viash_temp:$viash_temp"
}

process {
  errorStrategy = 'ignore'
  container = 'nextflow/bash:latest'
}
