manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
params {
  rootDir = "$projectDir/../../../.."
}

srcDir = "${params.rootDir}/src"
targetDir = "${params.rootDir}/target/nextflow"

includeConfig "$targetDir/predict_modality_methods/baseline_randomforest/nextflow.config"
includeConfig "$targetDir/predict_modality_methods/baseline_linearmodel/nextflow.config"
includeConfig "$targetDir/predict_modality_methods/baseline_knn/nextflow.config"
includeConfig "$targetDir/predict_modality_methods/baseline_babel/nextflow.config"
includeConfig "$targetDir/predict_modality_methods/baseline_newwave_knnr/nextflow.config"
includeConfig "$targetDir/predict_modality_methods/dummy_zeros/nextflow.config"
includeConfig "$targetDir/predict_modality_methods/dummy_meanpergene/nextflow.config"
includeConfig "$targetDir/predict_modality_methods/dummy_random/nextflow.config"
includeConfig "$targetDir/predict_modality_methods/dummy_solution/nextflow.config"
includeConfig "$targetDir/predict_modality_metrics/correlation/nextflow.config"
includeConfig "$targetDir/predict_modality_metrics/mse/nextflow.config"
includeConfig "$targetDir/predict_modality_metrics/check_format/nextflow.config"
includeConfig "$targetDir/predict_modality_results/collect_solution_metadata/nextflow.config"
includeConfig "$targetDir/predict_modality_results/final_scores/nextflow.config"
includeConfig "$targetDir/common/bind_tsv_rows/nextflow.config"
includeConfig "$srcDir/common/workflows/resource_labels.config"

def viash_temp = System.getenv("VIASH_TEMP") ?: "/tmp/"
docker {
  runOptions = "-v \$(realpath --no-symlinks ${params.rootDir}):\$(realpath --no-symlinks ${params.rootDir}) -v $viash_temp:$viash_temp --shm-size=2048m"
}

process {
  errorStrategy = 'ignore'
  container = 'nextflow/bash:latest'
}
