manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
params {
  rootDir = "$projectDir/../../../.."
}

//srcDir = "${params.rootDir}/src"
targetDir = "${params.rootDir}/target/nextflow"

// INSERT CUSTOM IMPORTS HERE
includeConfig "$targetDir/predict_modality_methods/baseline_randomforest/nextflow.config"
includeConfig "$targetDir/predict_modality_methods/baseline_linearmodel/nextflow.config"
includeConfig "$targetDir/predict_modality_methods/baseline_knearestneighbors/nextflow.config"
includeConfig "$targetDir/predict_modality_methods/baseline_babel/nextflow.config"
includeConfig "$targetDir/predict_modality_methods/dummy_zeros/nextflow.config"
includeConfig "$targetDir/predict_modality_methods/dummy_constant/nextflow.config"
includeConfig "$targetDir/predict_modality_methods/dummy_solution/nextflow.config"
includeConfig "$targetDir/predict_modality_metrics/calculate_cor/nextflow.config"
includeConfig "$targetDir/predict_modality_metrics/check_format/nextflow.config"
includeConfig "$targetDir/common/bind_tsv_rows/nextflow.config"
includeConfig "$targetDir/common/extract_scores/nextflow.config"
// END INSERT

docker {
  runOptions = "-v \$(realpath --no-symlinks ${params.rootDir}):\$(realpath --no-symlinks ${params.rootDir})"
}

process {
  errorStrategy = 'ignore'
  container = 'nextflow/bash:latest'
}
