manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
params {
  rootDir = "$projectDir/../../../.."
}

//srcDir = "${params.rootDir}/src"
targetDir = "${params.rootDir}/target/nextflow"

// INSERT CUSTOM IMPORTS HERE
includeConfig "$targetDir/joint_embedding_methods/baseline_lmds/nextflow.config"
includeConfig "$targetDir/joint_embedding_methods/baseline_pca/nextflow.config"
includeConfig "$targetDir/joint_embedding_methods/baseline_umap/nextflow.config"
includeConfig "$targetDir/joint_embedding_methods/dummy_random/nextflow.config"
includeConfig "$targetDir/joint_embedding_methods/dummy_single_mod/nextflow.config"
includeConfig "$targetDir/joint_embedding_methods/dummy_zeros/nextflow.config"
includeConfig "$targetDir/joint_embedding_methods/totalvi/nextflow.config"
includeConfig "$targetDir/joint_embedding_metrics/calculate_rf_oob/nextflow.config"
includeConfig "$targetDir/joint_embedding_metrics/calculate_totalVI_metrics/nextflow.config"
includeConfig "$targetDir/joint_embedding_metrics/ari/nextflow.config"
includeConfig "$targetDir/joint_embedding_metrics/asw_batch/nextflow.config"
includeConfig "$targetDir/joint_embedding_metrics/asw_label/nextflow.config"
includeConfig "$targetDir/joint_embedding_metrics/nmi/nextflow.config"
includeConfig "$targetDir/common/extract_scores/nextflow.config"
// END INSERT


docker {
  runOptions = "-v \$(realpath --no-symlinks ${params.rootDir}):\$(realpath --no-symlinks ${params.rootDir})"
}

process {
  errorStrategy = 'ignore'
  container = 'nextflow/bash:latest'
}
