manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
params {
  rootDir = "$projectDir/../../../.."
}

srcDir = "${params.rootDir}/src"
targetDir = "${params.rootDir}/target/nextflow"

includeConfig "$targetDir/match_modality_methods/baseline_babel_knn/nextflow.config"
includeConfig "$targetDir/match_modality_methods/baseline_dr_nn_knn/nextflow.config"
includeConfig "$targetDir/match_modality_methods/baseline_procrustes_knn/nextflow.config"
includeConfig "$targetDir/match_modality_methods/dummy_constant/nextflow.config"
includeConfig "$targetDir/match_modality_methods/dummy_random/nextflow.config"
includeConfig "$targetDir/match_modality_methods/dummy_zeros/nextflow.config"
includeConfig "$targetDir/match_modality_methods/dummy_solution/nextflow.config"
includeConfig "$targetDir/match_modality_metrics/aupr/nextflow.config"
includeConfig "$targetDir/match_modality_metrics/match_probability/nextflow.config"
includeConfig "$targetDir/match_modality_metrics/check_format/nextflow.config"
includeConfig "$targetDir/common/bind_tsv_rows/nextflow.config"
includeConfig "$targetDir/common/extract_scores/nextflow.config"
includeConfig "$srcDir/common/workflows/resource_labels.config"

def viash_temp = System.getenv("VIASH_TEMP") ?: "/tmp/"
docker {
  runOptions = "-v \$(realpath --no-symlinks ${params.rootDir}):\$(realpath --no-symlinks ${params.rootDir}) -v $viash_temp:$viash_temp --shm-size=1024m"
}

process {
  errorStrategy = 'ignore'
  container = 'nextflow/bash:latest'
}
