manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
params {
  rootDir = "$projectDir/../../../.."
}

//srcDir = "${params.rootDir}/src"
targetDir = "${params.rootDir}/target/nextflow"

// INSERT CUSTOM IMPORTS HERE
includeConfig "$targetDir/match_modality_methods/baseline_dr_nn_knn/nextflow.config"
includeConfig "$targetDir/match_modality_methods/baseline_procrustes_knn/nextflow.config"
includeConfig "$targetDir/match_modality_methods/dummy_constant/nextflow.config"
includeConfig "$targetDir/match_modality_methods/dummy_random/nextflow.config"
includeConfig "$targetDir/match_modality_methods/dummy_identity/nextflow.config"
includeConfig "$targetDir/match_modality_metrics/calculate_auroc/nextflow.config"
includeConfig "$targetDir/common/bind_tsv_rows/nextflow.config"
includeConfig "$targetDir/common/extract_scores/nextflow.config"
// END INSERT

docker {
  runOptions = "-v \$(realpath --no-symlinks ${params.rootDir}):\$(realpath --no-symlinks ${params.rootDir})"
}

process {
  errorStrategy = 'ignore'
  container = 'nextflow/bash:latest'
}
