manifest {
  nextflowVersion = '!>=20.12.1-edge'
}

// ADAPT rootDir ACCORDING TO RELATIVE PATH WITHIN PROJECT
params {
  rootDir = "$projectDir/../../../.."
}

def viash_temp = System.getenv("VIASH_TEMP") ?: "/tmp/"
def rootDir = java.nio.file.Paths.get(params.rootDir).toAbsolutePath().normalize().toString()
srcDir = "$rootDir/src"
targetDir = "$rootDir/target/nextflow"

includeConfig "$targetDir/predict_modality_metrics/mse/nextflow.config"
includeConfig "$targetDir/predict_modality_metrics/correlation/nextflow.config"
includeConfig "$targetDir/predict_modality_metrics/check_format/nextflow.config"
includeConfig "$targetDir/predict_modality_results/final_scores/nextflow.config"
includeConfig "$targetDir/common/bind_tsv_rows/nextflow.config"
includeConfig "$srcDir/common/workflows/resource_labels.config"

docker {
  runOptions = "-v $rootDir:$rootDir -v $viash_temp:$viash_temp"
}

process {
  errorStrategy = 'ignore'
  container = 'nextflow/bash:latest'
}
